:root {
  --light-color: #FDFBF5;
  --hover-color: #6A7E13;
  --links-color: #F382A2;
  --links-alt-color: #FFD0DE;
  --light-atl-color: #FEE7E2;
  --heading-color: #B2805F;
  --dark-color: #464543;
}

html {
    background-color: var(--light-color);
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--heading-color);
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

h2, h3 {
  color: var(--heading-color);
  text-align: center;
}

p {
  color: var(--dark-color);
}

a {
  color: var(--links-color);
}

a:hover {
  color: var(--hover-color);
}

img {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

button {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: bold;
  color: var(--links-color);
  border: none;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: var(--light-atl-color);
  margin: auto;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--links-alt-color);
}

/* -- Navigation Bar -- */
nav {
    background-color: #FEE7E2;
    border: 5px solid #FEE7E2;
}

.menu {
    background-color: var(--links-color);
    border: none;
    border-radius: 10px;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
}

.menu:hover,
.menu:hover {
  background-color: var(--hover-color);
  color: var(--links-alt-color);
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--links-color);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--hover-color);
  color: var(--links-alt-color);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

/* -- Laptop Design -- */
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}

/* -- Dark Mode -- */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .menu:hover {
  background-color: #ff9776;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}