---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("blog");
const pageTitle = "The Cat's Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p> This is where I'll put some posts! </p>
	<ul>		
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
	</ul>

  <img id="catapi_image_elem" width = 50% > 

  <script>
      // not using an API key
    document.addEventListener('DOMContentLoaded', setRandomCatImage);
    async function setRandomCatImage() {
      const catapi_call = await fetch('https://api.thecatapi.com/v1/images/search');
      const catapi_json = await catapi_call.json();
      const img_url = catapi_json[0].url; 
      const image_elem = document.getElementById('catapi_image_elem');
      image_elem.src = img_url;
    }
  </script>
</BaseLayout>
