---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greetting';

const pageTitle = "The Cat Gallery";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My amazing webpage</h2>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
	<img id="catapi_image_elem" width = 50% >
	<p> This website was created to see some cute cats and make you smile :) </p>
	<p> In the Cat Gallery you can also read posts written by the amazing Larry. </p> 
</BaseLayout>

<script>
document.addEventListener('DOMContentLoaded', setRandomCatImage);
async function setRandomCatImage() {
	const catapi_call = await fetch('https://api.thecatapi.com/v1/images/search');
	const catapi_json = await catapi_call.json();
	const img_url = catapi_json[0].url; 
	const image_elem = document.getElementById('catapi_image_elem');
	image_elem.src = img_url;
}
</script>

<style>
	button {
		display: block;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
</style>