---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const pageTitle = "The Cat Gallery";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->

	<html lang="en">
		<head> 
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content="{Astro.generator}" >

			<link rel="icon" type="/apparent-aperture/src/assets/astro.svg" />

			<title> {pageTitle} </title>
		</head>

		<body>
			<nav>
				<ul>
					<li> <a href="/"> Home </a> </li>
					<li> <a href="/about/"> About </a> </li>
					<li> <a href="/blog/"> Blog </a></li>
				</ul>
			</nav>
			

			<h1> {pageTitle} </h1>
		</body>

	</html>

</Layout>
