---

const { author, title, work, briefNote, imgUrl } = Astro.props;
---

<hr> 
<div>
    <h2>{ author }</h2>
    <h3>{ title }</h3>

    <img src={ imgUrl } alt=`Photo of ${ author }` width=50%>

    <p>{ work }</p>
    <p> A note from { author }: <em>{ briefNote }</em> </p>

</div>

