---

const { authorTitle, briefNote } = Astro.params;
---

<div>
    <h2>{authorTitle}</h2>
    <p> A hard worker giving writing our blog posts and behind the scenes </p>
    <p> A note from our author: <em>{ briefNote }</em> </p>

</div>