---

const { author, title, work, briefNote, imgUrl, side } = Astro.props;
---

<hr> 
<div class="author">
    <h2>{ author }</h2>
    <h3>{ title }</h3>

    <img src={ imgUrl } alt=`Photo of ${ author }` width=50%>

    <p>{ work }</p>
    <p> A note from { author }: <em>{ briefNote }</em> </p>

</div>

<style>
    .author {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    h2, h3 {
        margin-bottom: 0.1rem;
        margin-top: 0.2rem;
    }

    img {
        border-radius: 0.5rem;
    }

    @media screen and (min-width: 636px) {
        .author {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        h2, h3 {
            margin-bottom: 0.1rem;
            margin-top: 0.2rem;
        }

        img {
            border-radius: 0.5rem;
        }
    }
</style>

