---
const platform = "github";
const username = "Ari-Arina";
---

<hr>

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
</footer>

<style>
    hr {
        color:rgba(255, 234, 254, 0.713);
    }
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>