---
const platform = "github";
const username = "Ari-Arina";
---

<hr>

<footer>
    <p>Learn about the tool we used to show you all these cute cats: <a href="https://thecatapi.com">The CatAPI</a> </p>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
</footer>

<style>
    hr {
        color:rgba(255, 234, 254, 0.713);
    }
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
</style>